.right {
  text-align: center;
  font-size: 18px;

  svg {
    display: block;
    height: 160px;
    margin: auto;
  }

  button {
    margin: 20px auto 0;
  }
}

button.back-button {
  margin-bottom: 30px;
}

.left {
  font-size: 20px;
}

//.ban-button {
//  margin: 20px auto 0;
//  background-color:#d75452
//}
